
@font-face {
    font-family: 'BPGNinoMtavruli';
    src: url('BPGNinoMtavruli.eot?#iefix') format('embedded-opentype'),  url('BPGNinoMtavruli.woff') format('woff'), url('BPGNinoMtavruli.ttf')  format('truetype'), url('BPGNinoMtavruli.svg#BPGNinoMtavruli') format('svg');
    font-weight: normal;
    font-style: normal;
}

